<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-md-12 d-flex justify-content-between">
      <h4>Daftar Barang</h4>
      <div class="button-group">
        <a [routerLink]="['/sales/main/barang/new']" class="btn btn-primary">Buat Baru</a>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <table class="table table-stripped table-bordered table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nama</th>
            <th>Satuan</th>
            <th>Harga Jual</th>
            <th>Stok</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let barang of daftarBarang">
            <td>{{ barang.nomor }}</td>
            <td>{{ barang.nama }}</td>
            <td>{{ barang.satuan }}</td>
            <td>{{ barang.hargaJual }}</td>
            <td>{{ barang.stok }}</td>
            <td>
              <a [routerLink]="['/sales/main/barang/detail', barang._id]" class="btn btn-primary">
                Detail
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>